@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;
    --rosa: #C12D6D;
    --azul: #0C7EAE;
    --azulP: #060821;
    --azulC: #182246;

    --font1: 'Righteous', cursive;
    --font2: 'Titillium Web', sans-serif;
}

body {
    background-color: #FAFAFA;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-family: var(--font1);
    font-size: 30px;
    text-transform: uppercase;
}